.about__section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.about {
  width: 100%;
}

.about__top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.about_top_about {
  width: 100vh;
  font-size: 20px;
  line-height: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about_top_about h3 {
  color: #dc143c;
}

.about__down {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 40px;
}

.about__down_img {
  width: 20%;
  display: flex;
  padding: 0px;
}

.about__down_img img {
  width: 250px;
  height: 300px;
  /* border-radius: 5px 5px 10px rgb(192, 185, 185); */
  box-shadow: 5px 5px 30px rgb(145, 140, 140);
}

.about__down_text_sec {
  width: 60%;
  /* border: 1px solid black; */
}

.about__down_text_sec h2 {
  font-size: 25px;
  line-height: 60px;
  text-align: justify;
}

.about__down_text_sec span {
  color: #dc143c;
}

.about__down_text_sec p {
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}
