.about__section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about {
    width: 80vw;
}

.about__top {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about_top_about {
    font-size: 30px;
}

.about_top_about h3 {
    color: #DC143C;
}

.about__down {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
    /* border: 1px solid black; */
}

.about__down_img {
    /* border: 1px solid black; */
    padding: 0px;
}

.about__down_img img {
    width: 200px;
    height: 250px;
}

.about__down_text_sec {
    width: 60vw;
    /* border: 1px solid black; */
}

.about__down_text_sec h2 {
    font-size: 25px;
    line-height: 60px;
    text-align: center;
}

.about__down_text_sec span {
    color: #DC143C;
}

.about__down_text_sec p {
    font-size: 20px;
    line-height: 30px;
}