@media screen and (max-width:500px) {
    nav {
        display: none;
    }
}

@media screen and (max-width:700px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .nav__left_logo h1 {
        font-size: 1.5rem;
    }

    /* about section start  here media  */

    .about__down {
        flex-direction: column;
    }

    .about__down_text_sec h2 {
        font-size: 25px;
        padding: 10px;
    }

    /* skills and tools css start here media  */

    /* .skill_bottom{

    } */



    /* contact section css start here media  */

    .conatct__bottom {
        flex-direction: column;
    }
}


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
     nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}  */

















/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {}  */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {}  */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */