@media screen and (max-width:500px) {
    nav {
        display: none;
    }

    .section__profile h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    .about_top_about {
        text-align: center;
    }

    .about__down_img {
        width: 55vw;
        align-items: center;
    }

    .skill_bottom_box {
        width: 38vw;

    }

    .skill_icon i {
        font-size: 50px;
        padding: 20px;
    }

    .project_box {
        width: 80vw;
    }

    .project_box_use-tools {
        width: 80vw;
       
    }

    .contact__left {
        width: 70vw;
    }

    .contact__right {
        width: 80vw;
    }

    .contact__right_input_box {
        width: 80vw;
    }

    .contact__right_input_name input {
        width: 70vw;
    }

    .contact__right_input_email input {
        width: 70vw;
    }

    .contact__right_input_subject input {
        width: 70vw;
    }

    .contact__right_input_message textarea {
        width: 70vw;

    }

    .contact__right_input_button button {
        width: 40vw;
        padding: 10px;
        border-radius: 5px;
    }

    .footer__box {
        font-size: 11px;
    }
}

@media screen and (max-width:700px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .nav__left_logo h1 {
        font-size: 1.5rem;
    }

    /* about section start  here media  */

    .about__down {
        flex-direction: column;
    }

    .about__down_text_sec h2 {
        font-size: 25px;
        padding: 10px;
    }

    /* skills and tools css start here media  */

    /* .skill_bottom{

    } */



    /* contact section css start here media  */

    .conatct__bottom {
        flex-direction: column;
    }
}


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
     nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}  */

















/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {}  */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {}  */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */