.project_section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project_left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.project_left h1 {
  padding: 0px;
}

.project_left p {
  color: var(--primery_color);
  font-size: 20px;
  font-weight: 600;
}

.project_right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.project_box {
  width: 45%;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.project_box_img img {
  width: 90%;
}

.project_box_title h1 {
  text-align: center;
  color: var(--primery_color);
  padding: 10px;
  font-size: 20px;
}

.project_box_decs p {
  padding: 0px;
}

.project_box_sub-title h1 {
  text-align: center;
  color: var(--primery_color);
  padding: 10px;
  font-size: 20px;
}

.project_box_use-tools {
  width: 100%;
  display: flex;
  border: 1px solid black;
  padding: 1rem;
  justify-content: center;
  
}

.project_box_use-tools_box {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.project_box_use-tools_box img {
  width: 30%;
}
.project_box_use-tools_box p {
  font-size: 1rem;
  
}
.project_box_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project_box_button_visit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.project_box_button_visit button {
  background-color: var(--primery_color);
  font-size: 16px;
  padding: 5px 15px;
  color: white;
  border-radius: 5px 15px 5px;
  border: none;
  outline: none;
}

.project_box_button_code {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.project_box_button_code button {
  background-color: var(--primery_color);
  font-size: 16px;
  padding: 5px 10px;
  color: white;
  border-radius: 5px 15px 5px;
  border: none;
  outline: none;
}
