
.section_skill {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    padding: 40px;
}

.skill {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.skill_top {
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: white;
}

.skill_bottom {
    width: 98%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill_bottom_box {
    margin: 1rem;
    width: 20%;
    height: 10rem;
    border: 2px solid rgb(190, 187, 187);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.skill_icon img {
   width: 40%;
}


.skill_title p {
    color: var(--primery_color);
}